@import "../../../sass/fonts";
@import "../../../sass/general";

.add-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 1rem;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: $theme-border-radius;

  &-row-1,
  &-row-2,
  &-row-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }
}
