th {
  padding: 1.2rem 1.5rem;
  .field-name {
    margin-right: 1rem;
  }
}

tr {
  .customer_id {
    width: 150px;
  }

  .name {
    width: 158px;
  }

  .email {
    width: 245px;
  }

  .gender {
    width: 125px;
  }

  .country {
    width: 123px;
  }

  .city {
    width: 173px;
  }

  .street {
    width: 201px;
  }

  .phone {
    width: 118px;
  }
}
