@import "./sass/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  font-family: $font-family;
}

html {
  font-size: 62.5%;
}

button {
  padding: 1rem 2rem;
  font-family: $font-family;
  font-weight: 500;
  color: #333;
  background-color: sandybrown;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  cursor: pointer;
}

select {
  padding: 1rem;
  border: 1px solid #aaa;
  cursor: pointer;
}
